@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-midnight-plum;
  }
}

main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* body {
  background-color: "";
} */
